{% extends 'main.html' %}

{% block title %}
Одежда
{% endblock %}

{% block content %}

    <div class="container">
        <div class="col-1-4">
            <h1> Мужская обувь, кожа</h1>
            <img src="https://w7.pngwing.com/pngs/917/461/png-transparent-shoe-footwear-men-shoes-brown-leather-fashion-thumbnail.png"
                 alt="обувь">
        </div>
        <div class="col-1-4">
            <h1> Мужская обувь, кожа</h1>
            <img src="https://w7.pngwing.com/pngs/917/461/png-transparent-shoe-footwear-men-shoes-brown-leather-fashion-thumbnail.png"
                 alt="обувь">
        </div>
        <div class="col-1-4">
            <h1> Мужская обувь, кожа</h1>
            <img src="https://w7.pngwing.com/pngs/917/461/png-transparent-shoe-footwear-men-shoes-brown-leather-fashion-thumbnail.png"
                 alt="обувь">
        </div>
        <div class="col-1-4">
            <h1> Мужская обувь, кожа</h1>
            <img src="https://w7.pngwing.com/pngs/917/461/png-transparent-shoe-footwear-men-shoes-brown-leather-fashion-thumbnail.png"
                 alt="обувь">
        </div>
    </div>


{% endblock %}