<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Title</title>
    <h1>Моя первая страница</h1>
    <p class="text"> Привет, мир! </p>
</head>
<body>
<table>
    <tr>
        <th>Студенты
    </tr> <!--ряд с ячейками заголовков-->
    <tr>
        <td>{{name}}</td>
        <td>{{lastname}}</td>
        <td>{{age}}</td>
        <td>{{rating}}</td>
    </tr> <!--ряд с ячейками тела таблицы-->
    {% for item in students_list %}
    <tr>
        <td>{{item.name}}</td>
        <td>{{item.lastname}}</td>
        <td>{{item.age}}</td>
        <td>{{item.rating}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>